.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  background: #4caf8175;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: white;
}

.NavigationItem a {
  color: #3484a4;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  /*transition: color 0.3s ease;*/
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #4084CB;
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  //display: flex;
  align-items: center;
  height: 100%;
  //flex-flow: column;
}

.H3 {
  text-align: center;
  margin: 20px;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }

  .NavigationItem {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }

  .NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #44b7dc;
    border-bottom: 4px solid #40A4C8;
    color: white;
  }
}
